<web-app>

    <servlet>
        <servlet-name>todos</servlet-name>
        <servlet-class>com.study.servlet.GetAllTodosServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>addTodo</servlet-name>
        <servlet-class>com.study.servlet.AddToDoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>todos</servlet-name>
        <url-pattern>/todos</url-pattern>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>addTodo</servlet-name>
        <url-pattern>/todos/add</url-pattern>
    </servlet-mapping>

</web-app>